<%- include('_header') %>

<%- include('commons/markdown') %>

<script type="text/javascript" src="/javascripts/common.js"></script>
<link rel="stylesheet" href="/stylesheets/create_post.css">

<form class="uk-form uk-form-horizontal" action="/posts/create" method="POST">
  <div class="uk-form-row">
    <label for="title" class="uk-form-label">Title</label>
    <div class="uk-form-controls">
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <input type="text" name="title" placeholder="Title" class="uk-form-width-large">
        </div>
        <div class="uk-width-1-2">
          <button type="submit" name="button" class="uk-button-success save">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <label for="published" class="uk-form-label">Published</label>
    <div class="uk-form-controls">
      <input type="checkbox" name="published" value="true">
    </div>
  </div>

  <div class="uk-form-row">
    <label for="content" class="uk-form-label">Content</label>
    <div class="uk-form-controls">
      <textarea name="content" rows="8" cols="80" data-uk-htmleditor="{markdown:true}"></textarea>
    </div>
  </div>
</form>

<script type="text/javascript">
  UIkit.notify('<%= notify.info %>', { pos: '<%= notify.pos %>', status: '<%= notify.status %>' });
</script>

<%- include('_footer') %>
