<%- include('_header') %>
<link rel='stylesheet' href='/stylesheets/index.css' />
<script src="/javascripts/components/lightbox.min.js"></script>

<div class="uk-grid margin-top-45">
  <div class="uk-container-center">
    <img src="images/Black_J.JPG" class="avator">
  </div>
</div>

<div class="uk-grid">
  <div class="uk-container-center">
    <h1>
      <%= profile.name %>
    </h1>
  </div>
</div>

<div class="uk-grid">
  <div class="uk-container-center">
    <span>
      <%= profile.introduction %>
    </span>
  </div>
</div>

<div class="uk-grid">
  <div class="uk-container-center">
    <a href="<%= profile.social_links.github %>" class="uk-icon-hover uk-icon-large uk-icon-github"></a>
    <a href="images/Wechat.JPG" data-uk-lightbox title="using wechat to scan." class="uk-icon-hover uk-icon-large uk-icon-wechat"></a>
    <a href="<%= profile.social_links.twitter %>" class="uk-icon-hover uk-icon-large uk-icon-twitter"></a>
    <a href="<%= profile.social_links.facebook %>" class="uk-icon-hover uk-icon-large uk-icon-facebook"></a>
  </div>
</div>

<div class="uk-grid">
  <div class="uk-container-center">
    <button class="contact">Contact Me</button>
  </div>
</div>

<%- include('_footer') %>
