<%- include('_header') %>

<h1>Show POSTS</h1>
<table class="table table-hover">
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Content</td>
    <td>Author</td>
    <td>Published</td>
    <td>#</td>
  </tr>
  <% posts.forEach((post, index) => {  %>
    <tr>
      <td><%= index + 1 %></td>
      <td>
        <a href='/posts/<%= post._id %>'>
          <%= post.title %>
        </a>
      </td>
      <td><%= post.content %></td>
      <td><%= post.author %></td>
      <td><%= post.published %></td>
      <td>
        <a href='/posts/<%= post._id %>' data-method='delete'>
          DELETE
        </a>
      </td>
    </tr>
  <% }) %>

</table>
<%- include('_footer') %>
