<%- include('_header') %>

<div class="uk-grid">
  <div class="uk-container-center">
    <ul class="uk-list">
      <% posts.forEach((post, index) => {  %>
        <li>
          <a href='/posts/<%= post._id %>'>
            <%= post.title %>
          </a>
          <%= post.published %>
        </li>
      <% }) %>
    </ul>
  </div>
</div>

<%- include('_footer') %>
