<%- include('_header') %>

<h1>show one post</h1>
<hr>
<blockquote>
  <p><%= post.content %></p>
  <footer>《<%= post.title %>》<cite title="Source Title"><%= post.author %></cite></footer>
</blockquote>

<%- include('_footer') %>
