<%- include('_header') %>

<%# <script src="/marked/lib/marked.js"></script>%>
<link rel="stylesheet" href="/stylesheets/show_post.css">

<div class="uk-grid">
  <div class="uk-width-3-5 uk-push-1-5">
    <article class="uk-article">
        <h1 class="uk-article-title">
          <%= post.title %>
        </h1>
        <p class="uk-article-meta"><%= post.author %> | <%= post.createdDate %></p>
        <%- post.content %>
    </article>
  </div>
</div>

<%- include('_footer') %>
