<%- include('_header') %>

<%- include('commons/markdown') %>

<script type="text/javascript" src="/javascripts/common.js"></script>
<link rel="stylesheet" href="/stylesheets/create_post.css">

<script type="text/javascript" src="/javascripts/components/upload.min.js"></script>
<link rel="stylesheet" href="/stylesheets/components/upload.min.css">

<div class="uk-grid">
  <div class="uk-container-center">
    <form class="uk-form uk-form-horizontal" action="/profile/update" method="POST">

      <div class="uk-form-row">
        <label for="name" class="uk-form-label">Name:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.name %>" type="text" name="name" placeholder="Name" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="gender" class="uk-form-label">Gender:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.gender %>" type="text" name="gender" placeholder="Gender" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="introduction" class="uk-form-label">Introduction:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.introduction %>" type="text" name="introduction" placeholder="Introduction" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="github" class="uk-form-label">Github:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.social_links.github %>" type="text" name="github" placeholder="Github" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="wechat" class="uk-form-label">Wechat:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.social_links.wechat %>" type="text" name="wechat" placeholder="Wechat" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="twitter" class="uk-form-label">Twitter:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.social_links.twitter %>" type="text" name="twitter" placeholder="Twitter" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="facebook" class="uk-form-label">Facebook:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.social_links.facebook %>" type="text" name="facebook" placeholder="Facebook" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <label for="contact" class="uk-form-label">Contact:</label>
        <div class="uk-form-controls">
          <input value="<%= profile.contact %>" type="text" name="contact" placeholder="phone number" class="uk-form-width-medium">
        </div>
      </div>

      <div class="uk-form-row">
        <button type="submit" name="button" class="uk-button-primary">Update</button>
      </div>

    </form>
  </div>
</div>

<%- include('_footer') %>
